html, body, ul, #Space, p {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
      background-image: url(images/stars.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

a {
    color: white;
}

#Space {
    color: white;
    margin-top: 1%;
    margin-left: 5%; 
    margin-right: 5%; 
    text-align: center;
}

header {
    border: thick double #7320ba;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    display: inline;
    padding: 0 10px;
}

#banner {
    border: thick double;
    border-image: linear-gradient(15deg, #7320ba 50%, #a1122c 50%) 5;    
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
}

#banner img {
    object-fit: cover;
    margin: 0 auto;
        height: 100%;
        width: 100%;
    
}


#intros {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#intros .intro {
    display: flex;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    margin-top: 20px;
    min-height: 300px;
    align-items:start;
    width: 50%;
}

#intros #Shia {
    border: thick double #7320ba;
}

#intros #Vini {
    border: thick double #a1122c;
}

#intros .intro .imagem {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-height: 225px;
    overflow: hidden;
    min-height: 100px;
}

#intros #Shia .imagem {
    border: thick solid #7320ba;
}

#intros #Vini .imagem {
    border: thick solid #a1122c;
}

#intros .intro .imagem img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#intros .intro .texto {
    width: 40%;
    height: fit-content;
    padding: 0 10px;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}

@media (max-width: 1300px) {
    #intros .intro .texto {
        width: 100%;
    }
    #banner {
        aspect-ratio: 3 / 1;
    }
}

@media (max-width: 650px) {
    #banner img {
        transform: scale(3);
    }
    #intros .intro {
        flex-wrap: wrap;
    }

}

@media (min-width: 1300px) {
    #Space {
    margin-left: 20%; 
    margin-right: 20%;
    }
    #banner {
        aspect-ratio: 5 / 1;
    }
    #banner img {
    }
    
}